<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.ibatis.debug.UserMapper">
    <select id="selectUserById" resultType="org.apache.ibatis.debug.User">
        select *
        from user
        where id = #{id}
    </select>

    <insert id="insertUserInfo" parameterType="org.apache.ibatis.debug.User">
        insert into user(id, name, create_date, update_date)
        values (#{id}, #{name}, now(), now())
    </insert>

    <update id="updateUserInfo" parameterType="org.apache.ibatis.debug.User">
        update user
        set name = #{name}
        where id = #{id}
    </update>

    <delete id="deleteUserInfo" parameterType="org.apache.ibatis.debug.User">
        delete
        from user
        where id = #{id}
    </delete>
</mapper>